In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('TSLA.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-29,158.033997,160.639999,156.632004,160.102005,160.102005,81080000
1,2020-04-30,171.037994,173.964005,152.699997,156.376007,156.376007,142359500
2,2020-05-01,151.000000,154.554001,136.608002,140.264008,140.264008,162659000
3,2020-05-04,140.199997,152.399994,139.600006,152.238007,152.238007,96185500
4,2020-05-05,157.957993,159.783997,152.436005,153.641998,153.641998,84958500